log/*.log
log/*.pid
log/production.log
db/*.db
db/*.sqlite3
db/schema.rb
tmp/**/*
.DS_Store
doc/api
doc/app
config/database.yml
.idea
.idea/**/*
public/assets
public/files
nbproject
nbproject/**/*
mappings.txt
routes.txt
graph_img.png
routes.txt
/**/Thumbs.db
db/sphinx/**/*
config/development.sphinx.conf
public/assets/**/*
vendor/gems
vendor/bundler_gems