<column-mc:>

  <h1>Pages</h1>
  <%= will_paginate @pages %>
  <table class="generic" cellspacing="0" cellpadding="0">
    <%= table_headers "Id", "Address", "Title", "Number of links", "Crawler", " " %>
    <tbody id="pages_list">
    <%= render @pages %>
    </tbody>
  </table>
  <%= will_paginate @pages %>



  



</column-mc:>