<column-mc:>
<%= will_paginate @pages %>
<table>
  <thead>
  <tr>

    <th>Id</th>

    <th>Address</th>

    <th>Title</th>

    <th>Number of links</th>

    <th>Crawler</th>

    <th colspan="3">Actions</th>
  </tr>
  </thead>
  <tbody id="pages_list">
  <%= render @pages %>
  </tbody>
</table>
<%= will_paginate @pages %>

</column-mc:>
