<column-mc:>
  <h1>Editing crawler</h1>
  <% semantic_form_for @crawler do |form| %>
      <%= form.inputs %>
      <%= form.buttons %>
  <% end %>

  <%= link_to 'Back', crawlers_path %>
  <%= link_to "Pages", crawler_pages_path(@crawler) %>
</column-mc:>