<column-mc:>

  <frame header="Editing crawler">
  <% semantic_form_for @crawler do |form| %>
      <%= form.inputs :name, :root_domain, :root_page %>
      <%= form.buttons %>
  <% end %>
        <div style='clear:both'>
   <%= link_to "Start crawling", new_crawler_crawl_path(@crawler) %>
  <%= link_to 'Back', crawlers_path %>
  </div>
  <br/>

  </frame>

</column-mc:>